.container {
  background: linear-gradient(#40A497, #7FC6BC);
  height: 10vh;
  padding: 1rem 0;
}

.conversation {
  min-height: 50vh;
  max-width: 50pc;
  padding: 1rem 0;
  margin: 0 auto;
  text-align: center;
}

.body {
  & a {
    color: var(--colorPrimary);
    transition: all 0.2s;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &:hover {
      opacity: 1;
      color: color(var(--colorPrimary) l(- 5%));
      border-bottom-color: var(--colorPrimary);
    }
  }

  /* handy for content */
  & img {
    max-width: 100%;
  }
}
